* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
html, body {
    height: 100%;
}
.map{
    height: 100%;
    transition: 2s;
    background: #ddd;
}

@media screen and (max-width: 900px)  { 
    
    .map {
        left: 15px;
        height: 523px;
        width: 600px;
        transition: 2s;
    }
}

@media screen and (max-width: 620px)  { 
    
    .map {
        left: 15px;
        height: 523px;
        width: 333px;
        transition: 2s;
    }
}

@media screen and (max-height: 500px)  { 
    
    .map {
        height: 400px;
        transition: 2s;
    }
}

@media screen and (max-height: 400px)  { 
    
    .map {
        height: 300px;
        transition: 2s;
    }
}

@media screen and (max-height: 300px)  { 
    
    .map {
        height: 180px;
        transition: 2s;
    }
}